/* Name Header CSS */
.name-header {
  margin-top: 4rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

/* Main Content CSS */
.home-page-main-content {
  display: flex;
  align-items: center;
  padding-inline: 3rem;
  margin-top: 2rem;
}
.home-page-main-content > ul > li {
  font-size: 2rem;
}
