body {
  background-color: #f2e7e4;
}

header {
  h1 {
    font-size: 3.5rem;
    margin: 1rem;
  }
  p {
    font-size: 1.7rem;
    margin: 1rem;
  }
}

.about-me-main-content {
  .divs-for-main-content {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  li {
    font-size: 2rem;
    margin-left: 2rem;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  display: flex;
  margin: 1rem;
  background-color: #f2e7e4;
  img {
    width: 25rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 2%;
    margin: 2rem;
  }

  ul > li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .card-info {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 2rem;
  }
  .card-info-genre {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .card-info-synopsis {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    &::first-letter {
      font-size: 1.5em;
    }
  }
  .card-info-highlight {
    color: blue;
  }
  .card-info-people {
    font-size: 1.5rem;
  }

  ul.credentials > li {
    margin-top: 1rem;
    font-weight: normal;
  }
  ul.credentials li::before {
    content: "\f518"; /* FontAwesome unicode for the book icon */
    font-family: "Font Awesome 6 Free"; /* Set the font family to FontAwesome */
    padding-right: 0.5rem; /* Add space between the icon and text */
    font-weight: 900; /* Ensure the solid style is used, if necessary */
  }

  .faculty {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.my-moods {
  display: flex;

  img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 2%;
  }
}

.my-moods-label {
  display: flex;
  p {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #cute-mood {
    margin-left: 10rem;
    color: rgb(243, 147, 147);
  }
  #energetic-mood {
    margin-left: 15rem;
    color: rgb(221, 126, 58);
  }
}

.fun-facts {
  display: flex;
  align-items: center;
  img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    margin: 2rem;
    border-radius: 2%;
    float: left;
  }

  p {
    margin-left: 2rem;
    font-size: 1.7rem;
  }
}
